LeadSwift-Category-Classifier.json
{
  "_note": "NDA-SANITIZED: Credentials removed, database/table IDs replaced, JS code summarized, specific keywords generalized. Node structure and connections are accurate.",
  "name": "[REDACTED] Category Classifier",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 10 }] }
      },
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "databaseId": "[REDACTED]",
        "tableId": "[REDACTED]",
        "returnAll": true
      },
      "name": "Get Candidate Rows",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [224, 0],
      "credentials": "[REDACTED - Baserow account]"
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] Hard eligibility guard - filters rows before classification.\n// - BATCH_SIZE=12 per run\n// - Skips rows that already have a category\n// - Skips rows in 'category_processing' state (prevents double-processing)\n// - Deduplicates by email or website\n// - Requires at least company_name or website to be present\n// Returns at most BATCH_SIZE eligible rows with row_id attached."
      },
      "name": "Hard Category Eligibility Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0]
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] STAGE 1: Fast Keyword Classifier (< 5ms per lead)\n// Builds a haystack from company_name + domain. Checks against ~50+ industry\n// keywords (e.g., \"solar\", \"photovoltaic\", \"renewable\", \"inverter\", \"battery storage\").\n// Uses tokenized matching for short keywords, substring for longer ones.\n// If keyword found: sets classification_decision='final', category='[Category]'.\n// If not found: returns unmodified for next stage.\n// Returns classification_stage='keyword', classification_reason_detail with matched keyword."
      },
      "name": "Fast Keyword Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ String($json.classification_decision ?? \"\") }}",
              "rightValue": "final",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF Classified By Keywords",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [896, 0]
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] STAGE 2a: Builds a clean homepage URL from the website field.\n// Handles: missing protocol, www prefix, query strings, fragments.\n// Uses URL parser with fallback string manipulation."
      },
      "name": "Build Homepage URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 80]
    },
    {
      "parameters": {
        "url": "={{ $json.scrape_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml" }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": { "redirect": { "maxRedirects": 5 } },
          "response": { "response": { "fullResponse": true, "neverError": true, "responseFormat": "text" } },
          "timeout": 10000
        }
      },
      "name": "HTTP Request Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1344, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] STAGE 2b: Extracts metadata from scraped HTML.\n// - Parses <title> tag (first 300 chars)\n// - Parses <meta name=\"description\"> (first 500 chars)\n// - Strips <script>, <style>, <nav>, <footer> blocks\n// - Extracts visible body text (first 500 chars)\n// - Combines into scraped_text (first 1000 chars)\n// Sets scrape_succeeded=true if any metadata was found."
      },
      "name": "Extract Homepage Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 80]
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] STAGE 2c: Post-Scrape Keyword Classifier\n// Same keyword matching logic as Stage 1, but runs against scraped_text\n// (title + description + body snippet) instead of just company name.\n// If scrape failed or no keywords found: passes to Stage 3 (Gemini)."
      },
      "name": "Post-Scrape Keyword Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, 80]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ String($json.classification_decision ?? \"\") }}",
              "rightValue": "final",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF Classified After Scrape",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2016, 80]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "id", "value": "models/gemini-2.5-flash" },
        "messages": {
          "values": [{
            "content": "=[NDA] Classify company based on metadata:\nCompany: {{company_name}}\nTitle: {{homepage_title}}\nDescription: {{homepage_description}}\nText: {{body_snippet}}\nReturn ONLY one label: [Category] or not_[category]related"
          }]
        },
        "options": {
          "systemMessage": "Return only one category word.",
          "maxOutputTokens": 8,
          "temperature": 0,
          "thinkingBudget": 0
        }
      },
      "name": "Gemini Flash Classifier",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [2240, 144],
      "credentials": "[REDACTED - Google Gemini API]"
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] STAGE 3b: Normalizes Gemini's output.\n// Extracts text from various Gemini response formats (output, text, response,\n// mergedResponse, candidates[0].content.parts).\n// Checks for exact label match ('solar' or 'notsolarrelated').\n// Sets classification_stage='ai', classification_decision='final'.\n// Records classification_reason_detail for audit trail."
      },
      "name": "Normalize Gemini Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2464, 144]
    },
    {
      "parameters": {
        "jsCode": "// [NDA SUMMARY] Finalizer: assembles the update payload for Baserow.\n// Sets: category (from classifier), category_classified_at (ISO timestamp),\n// category_classifier_reason (which keyword/why), processed='category_classified'.\n// Preserves existing fields, deletes temporary classification metadata fields."
      },
      "name": "Finalize Category Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2688, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "[REDACTED]",
        "tableId": "[REDACTED]",
        "rowId": "={{ $json.row_id || $json.id }}",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "row_id,id,classification_decision,classification_stage,classification_reason_detail,homepage_html,scrape_url,scraped_text,homepage_title,homepage_description,body_snippet,scrape_succeeded"
      },
      "name": "Update Baserow Row",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [2912, 0],
      "credentials": "[REDACTED - Baserow account]"
    }
  ],
  "connections": {
    "Every 10 Minutes": { "main": [[{ "node": "Get Candidate Rows", "type": "main", "index": 0 }]] },
    "Get Candidate Rows": { "main": [[{ "node": "Hard Category Eligibility Guard", "type": "main", "index": 0 }]] },
    "Hard Category Eligibility Guard": { "main": [[{ "node": "Fast Keyword Classifier", "type": "main", "index": 0 }]] },
    "Fast Keyword Classifier": { "main": [[{ "node": "IF Classified By Keywords", "type": "main", "index": 0 }]] },
    "IF Classified By Keywords": {
      "main": [
        [{ "node": "Finalize Category Update", "type": "main", "index": 0 }],
        [{ "node": "Build Homepage URL", "type": "main", "index": 0 }]
      ]
    },
    "Build Homepage URL": { "main": [[{ "node": "HTTP Request Homepage", "type": "main", "index": 0 }]] },
    "HTTP Request Homepage": { "main": [[{ "node": "Extract Homepage Metadata", "type": "main", "index": 0 }]] },
    "Extract Homepage Metadata": { "main": [[{ "node": "Post-Scrape Keyword Classifier", "type": "main", "index": 0 }]] },
    "Post-Scrape Keyword Classifier": { "main": [[{ "node": "IF Classified After Scrape", "type": "main", "index": 0 }]] },
    "IF Classified After Scrape": {
      "main": [
        [{ "node": "Finalize Category Update", "type": "main", "index": 0 }],
        [{ "node": "Gemini Flash Classifier", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Flash Classifier": { "main": [[{ "node": "Normalize Gemini Category", "type": "main", "index": 0 }]] },
    "Normalize Gemini Category": { "main": [[{ "node": "Finalize Category Update", "type": "main", "index": 0 }]] },
    "Finalize Category Update": { "main": [[{ "node": "Update Baserow Row", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "description": "3-stage cost-optimized classification pipeline: (1) Fast keyword matching on company name/domain, (2) Website scrape + metadata keyword check, (3) Gemini Flash AI fallback for ambiguous cases. Runs every 10 minutes, batch of 12 leads."
}
